.labeled__input {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.input__label{
    color: #21D4FD;
    font-weight: bold;
}

.form__control {
    width: 50%;
}

.btn{
    margin: 10px 0;
    color: black;
    background-color: white;
    border: #21D4FD 2px solid;
}