.category__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;

    padding: 12px 10px 14px;

    cursor: pointer;

    transition-property: transform;
    transition-duration: 1s;
}

.category__image {
    width: 200px;
    height: 200px;
    border-radius: 12px;
}

.category__title {
    font-size: 20px;
    line-height: 24px;
    font-family: 'Roboto Condensed';
    font-weight: bold;
    margin: 10px 0 15px;
}

.category__description {
    font-size: 12px;
    line-height: 14px;
}

.category__title,
.category__description {
    color: #727272;
}

.category__wrapper:hover {
    transform: scale(1.1);
}

.playlist__wrapper:hover a {
    text-decoration: none;
}