.loggin__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loggin__box{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;

    width: 500px;
    height: 250px;
}

.labeled__input {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.input__label{
    color: #21D4FD;
    font-weight: bold;
    margin: 20px 0;
}


.form__control {
    width: 500px;
    border-color: #21D4FD;
    border-radius: 12px;
    height: 38px;
}

.btn-primary {
    margin: 10px 0;
    color: black;
    background-color: white;
    border: #21D4FD 2px solid;
    border-radius: 12px;
    width: 100px;
}

.btn-primary {
    color: #21D4FD;
    border-color: #21D4FD;
}

.btn-primary:hover {
    border-color: #21D4FD;
    background-color: #21D4FD;
}
